{
    "extends": [
        "@hckrnews/eslint-config"
    ],
    "rules": {
        "consistent-return": "warn",
    },
    "env": {
        "es6": true,
        "node": true,
        "jquery": true,
        "browser": true
    },
    "globals": {
        "Modernizr": false,
        "W2Form": false
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
